
<section class="visible-md visible-lg">
  <hr>
  {{ with .Site.GetPage "/about" }}
  <h5><a href={{"about/" | relURL }}>ABOUT ME</a></h5>
  {{ else }}
  <h5>ABOUT ME</h5>
  {{ end }}

  {{ $sidebar := .Site.Params.sidebar }}
  <div class="short-about">
    {{ if $sidebar.avatar }}
    <a href={{"about/" | relURL }}>
      <img src="{{ $sidebar.avatar | relURL }}" alt="About Me" draggable="false" loading="lazy" decoding="async" />
    </a>
    {{ end }}
    {{ with $sidebar.bio }}
    <p>{{ $sidebar.bio }}</p>
    {{ end }}
    <!-- SNS Link -->
    {{ partial "sns-links.html" (dict "center" false "social" .Site.Params.social ) }}
    <hr>
    <h5>SUPPORT</h5>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="2FKE94UCTCKCJ" />
      <input class="donate-button align-middle py-2 px-4" tabindex="-1" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="Donate via PayPal" alt="Donate via PayPal" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <a href="https://www.buymeacoffee.com/barrasso" target="_blank" rel="external noopener nofollow">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" loading="lazy" style="cursor: pointer;height: 30px !important;width: 109px !important;" />
    </a>
  </div>
</section>
